<div class="wrapper">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light nav-white bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" scrollTo  href="#">Popcorn Ads</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto navbar-right">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" scrollTo  href="#main">Home</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" scrollTo  href="#categories">Categories</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" scrollTo  href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" scrollTo  href="#whypopcorn">Why Popcorn</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" scrollTo  href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>



  <div id="main" class="main">
    <div class="hero-home">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12">
            <div class="intro-block">
              <h4>Grow your business with advertisement</h4>
              <h1>Advertisement Made easy with Popcorn Ads</h1>
            </div>
            <div class="subform wow fadeInDown" data-wow-delay="0.3s">
              <form id="signup" class="formee" action="" method="post">
               <input type="text" /><input class="right inputnew" type="submit" title="Send" value="Search Location" />
             </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- f-box Section Starts -->
    <div class="f-box bg-light" id="categories">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12 vid-feature" style="background:none;padding:0; margin-bottom: 40px;">
            <h1>We Do Advertisement In Below Categories</h1>
          </div>
          <div class="col-sm-3">
            <div class="f-box-single wow fadeInUp" data-wow-delay="0.6s">
              <div class="f-box-image">
                <img  src="assets/icons/1.png" alt="Icon" />
              </div>
              <div class="f-box-content">
                <h3>Airports</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="f-box-single wow fadeInUp" data-wow-delay="0.6s">
              <div class="f-box-image">
                <img  src="assets/icons/2.png" alt="Icon" />
              </div>
              <div class="f-box-content">
                <h3>Cinema</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="f-box-single wow fadeInUp" data-wow-delay="0.6s">
              <div class="f-box-image">
                <img  src="assets/icons/3.png" alt="Icon" />
              </div>
              <div class="f-box-content">
                <h3>Digital</h3>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="f-box-single wow fadeInUp" data-wow-delay="0.6s">
              <div class="f-box-image">
                <img  src="assets/icons/4.png" alt="Icon" />
              </div>
              <div class="f-box-content">
                <h3>Magazine</h3>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="f-box-single wow fadeInUp" data-wow-delay="0.6s">
              <div class="f-box-image">
                <img  src="assets/icons/5.png" alt="Icon" />
              </div>
              <div class="f-box-content">
                <h3>Newspaper</h3>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="f-box-single wow fadeInUp" data-wow-delay="0.6s">
              <div class="f-box-image">
                <img  src="assets/icons/6.png" alt="Icon" />
              </div>
              <div class="f-box-content">
                <h3>Non Traditional</h3>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="f-box-single wow fadeInUp" data-wow-delay="0.6s">
              <div class="f-box-image">
                <img  src="assets/icons/7.png" alt="Icon" />
              </div>
              <div class="f-box-content">
                <h3>Outdoor</h3>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="f-box-single wow fadeInUp" data-wow-delay="0.6s">
              <div class="f-box-image">
                <img  src="assets/icons/8.png" alt="Icon" />
              </div>
              <div class="f-box-content">
                <h3>Radio</h3>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- f-box Section Ends Here -->

    <div id="about" class="features">
      <div class="flex-split">
        <div class="container">
          <div class="row align-center">
            <div class="col-md-5">
              <div class="f-left">
                <div class="left-content wow fadeInLeft" data-wow-delay="0s">
                  <h2>Daily Charts & moving averages.</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 offset-md-1">
              <div class="f-right">
                <img class="img-fluid" src="assets/images/f2.jpg" alt="Feature">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-split">
        <div class="container">
          <div class="row align-center">
            <div class="col-md-6">
              <div class="f-right">
                <img class="img-fluid" src="assets/images/f2.jpg" alt="Feature">
              </div>
            </div>
            <div class="col-md-5  offset-md-1">
              <div class="f-left">
                <div class="left-content wow fadeInLeft" data-wow-delay="0s">
                  <h2>Daily Charts & moving averages.</h2>
                  <p> Not just your messages, but all your files, images, PDFs, documents, and spreadsheets can be dropped
                      right into Slack and shared with anyone you want. Add comments, star for later reference.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="cta-big" id="whypopcorn">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <div class="cta-big-inner wow fadeInRight">
              <h4>Why Popcorn Ads</h4>
              <h1>Join the fraternity of millions of users and be found.</h1>
              <p>Some lorem ipsum text to make this section look more appealing.Now, it looks okay ish. </p>
              <a scrollTo  href="#" class="btn btn-action btn-white">Join now</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="contact" class="contact">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-8 offset-sm-2 text-center">
            <div class="contact-intro wow fadeInDown">
              <h1>Still confused? Drop us a word, we'll get back to you asap.</h1>

            </div>
          </div>
          <div class="col-sm-8 offset-sm-2">
            <div class="contact-form wow fadeInDown">
                <form id="contact-form" method="post" action="assets/php/contact.htm">
                  <div class="messages"></div>
                  <div class="controls">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="form_name">Name*</label>
                              <input id="form_name" type="text" name="name" class="form-control" required="required" data-error="Firstname is required.">
                              <div class="help-block with-errors"></div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="form_email">Email *</label>
                              <input id="form_email" type="email" name="email" class="form-control" required="required" data-error="Valid email is required.">
                              <div class="help-block with-errors"></div>
                          </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_message">Message *</label>
                            <textarea id="form_message" name="message" class="form-control" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a scrollTo  href="#" class="btn btn-action btn-white">Send Message</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Popcorn Ads</h2>
            <p> Some great details about your brand can fill this section. There will always be someone who reads footer.</p>
            <ul class="footer-sub">
              <li>&copy; 2018 Popcorns Ads</li>
              <li><a scrollTo  href="#">Privacy</a></li>
              <li><a scrollTo  href="#">Legal</a></li>
            </ul>
          </div>
          <div class="col-md-6 text-right d-none d-md-block">
            <ul class="social">
              <li><a scrollTo  href="#"><img src="assets/icons/facebook.png" width="35" alt="Social"></a></li>
              <li><a scrollTo  href="#"><img src="assets/icons/twitter.png" width="35" alt="Social"></a></li>
              <li><a scrollTo  href="#"><img src="assets/icons/youtube.png" width="35" alt="Social"></a></li>
              <li><a scrollTo  href="#"><img src="assets/icons/instagram.png" width="35" alt="Social"></a></li>
            </ul>
            <ul class="footer-nav">
              <li><a scrollTo  href="#">About</a></li>
              <li><a scrollTo  href="#">Support</a></li>
              <li><a scrollTo  href="#">Contact</a></li>
            </ul>
            <a class="f-mail" href="tel:180032472349">Call: 1800 3247 2349</a>
            <br>
            <a class="f-mail" href="mailto:info@label.co">support@popcornads.com</a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Main -->
</div><!-- Wrapper -->