<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="/" class="text-white">Popcorn Ads</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form [formGroup]='register' (ngSubmit)='save()' novalidate>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" formControlName='email' placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <div *ngIf="email.invalid && (email.dirty || isSubmitted)" class="text-danger">
            Email is required.
          </div>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" formControlName='password' placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <div *ngIf="password.invalid && (password.dirty || isSubmitted)" class="text-danger">
            Password is required.
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" >Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-box-body -->
  </div>
</div>

