.login-page {
    overflow: hidden;
    min-height: 100%;
    background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.error {
  color:#f00;
}
.login-box {
  width:440px;
}
.login-box-body {
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
  padding: 40px;
}
.text-white {
  color:#fff;
}
.btn-primary {
  background:#4A00E0;
  border-color:#4A00E0;
  color: #fff;
}