/* You can add global styles to this file, and also import other style files */


html {
    font-size:14px;
}
body {
    font-family: 'Poppins', sans-serif;
}
.main-header .navbar {
    height:50px;
    background:#fff !important;
}
.skin-blue .main-header .logo {
    background: #8E2DE2;
    background: -webkit-gradient(linear, left top, right top, from(#4A00E0), to(#8E2DE2));
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background:#fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.17);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.17);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.17);
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color:#323232;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background:transparent;
    color:#323232;
}
.skin-blue .main-header .navbar .nav > li > a {
    color:#323232;
}
.skin-blue .main-header .navbar .nav > li > a:hover {
    background:transparent;
    color:#323232;
}
.navbar-nav > .user-menu .user-image {
    margin-top: -8px;
}
.skin-blue .sidebar a {
    color:#969696;
}